html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body { 
  background: url(img/crowd.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; 
  background-size: cover;
  display : table;
  width: 100%;
}
.navbar {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 1); 
}
.nav {
  background-color: rgba(150, 0, 75, 0.5);  
}
.nav a {
  color: white;
}
ul.nav a:hover {
  background-color: DimGrey !important;  
  color: Gold !important;
}
.logo {
	width: 60%;
}
.bloc {
  background-color: rgba(0, 0, 0, 0.70);
  color: rgb(255, 255, 255);
  text-align: center;
	width: 800px;
  margin: 0 auto;
  border-radius: 5px;
	margin-top: 5px;
	padding: 5px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: rgba(0, 0, 0, 0.70);
  padding: 25px;
  display : table-row;
  height: 1px;
}
input {
  color: rgba(0, 0, 0, 1);
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
}
.wrapper_map {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 5px;
}

.search-bar-category {
  grid-row: 1;
}
.search-bar-date { 
	grid-row: 1;
}
.search-bar-locations {
  grid-row: 1;
}
.search-bar-submit {
	grid-row: 1;
	color: black;
	margin: 5px;
}

#map {
	width: 100%;
	height: 400px;
	margin: 0;
	border-radius: 5px;
}
#mapid, #lieu_mapid { 
  height: 480px; 
}

/* Tableau */
th {
  text-align: center;
}
td {
  padding: 5px;
}
td, th {
  border-bottom: 3px solid rgba(150, 0, 75, 0.5);
  text-align: center;
}
td {
  text-align: left;
}
tr:hover {
  background-color: rgba(75, 19, 48, 0.5);
  transition: 0.4s;
  color: gold;
}
td:hover, th:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}

.table_map {
  text-align: center;
}
p {
  color: rgba(150, 0, 75, 1);
}
a:hover {
  color: gold;
  transition: 0.4s;
}
img:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.btn {
  margin: 15px;
}
.btn:hover {
  color: gold;
  transition: 0.4s;
  background-color: gray;
}

h1, h2, h3 {
  color: gold;
}

.bloc_add_events {
  padding-left: 250px;
  padding-right: 250px;
}
.text {
  color: white;
}
label:hover {
  color: rgba(150, 0, 75, 1);
  transition: 0.4s;
}
.table_lieu, table, td, th {
  padding-left: 10px;
  padding-right: 10px;
}

#a1 {
  padding: 25px;
  position: relative;
  animation-name: a1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes a1 {
  0%   {left:0px;}
  25%  {left:80px;}
  50%  {left:0px;}
  75%  {left:-80px;}
  100% {left:0px;}
}
#a1:hover {
  
  transition: 0.4s;

  animation-name: a1_2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}
@keyframes a1_2 {
  0%   {
    transform: scale(0.5); 
    color: white;
  }
  25%  {
    transform: scale(1.0); 
    color: rgba(150, 0, 75, 1);
  }
  50%  {
    transform: scale(1.5); 
    color: gold;
  }
  75%  {
    transform: scale(1.0); 
    color: rgba(150, 0, 75, 1);
  }
  100% {
    transform: scale(0.5); 
    color: white;
  }
}

#bloc_contrib1, #bloc_contrib2 {
  padding-left: 175px;
  padding-right: 175px;
}
#bloc_sup_compte {
  padding-left: 150px;
  padding-right: 150px;
}
#bloc_event p {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
#bloc_event h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
}
#img_event {
  margin: 10px;
  width: 700px;
}